/outdated
*.bak
*.gch
*.o
*.exe
.clang-format
.cproject
.project
/.cache
/makefile.win
/app.ico
/compile_commands.json
/build
/out
/build/MiniSerpentEngine_private.res
/Mini-Serpent-Engine.bookmarks
/Mini-Serpent-Engine.debug
/Mini-Serpent-Engine.dev
/Mini-Serpent-Engine.layout
/Mini-Serpent-Engine_private.h
/Mini-Serpent-Engine_private.rc
/main.s

