/outdated
/Makefile.win
*.bak
*.gch
*.o
*.bookmarks
*.debug
*.dev
*.exe
/app.ico
*.layout
/Crystal_Serpent_Engine_0_private.h
/Crystal_Serpent_Engine_0_private.rc
/Crystal_Serpent_Engine_0_private.res
/main.s

